html {
  height:100%;
  overflow: hidden;
}
/* TYPOGRAPHY */
body{
  /*  font-family: 'Dosis', sans-serif; */
  font-family: "Space Mono",monospace,"HelveticaNeue",Helvetica,Arial,sans-serif;
  overflow-x:hidden;
  height:100%;
  padding:10px;
}
#currently {
  text-align: right;
}
.noneList {
  list-style-type:none;
  /*display:inline;*/
}
.projectCategory {
  padding-left:10px;
}
#projectCategories {
  padding:10px;
}
#projectCategories h4 {
  text-align: left;
}
.in_progress {
  opacity: 0.3;
}
.deprecated {
  text-decoration: line-through;
}

@media(min-width:800px) {
  .project {
    width:70%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
  }
}

.shallow {
  padding-left:10px;
}

.static {
  position:absolute;
  background: auto;
}

.static:hover {
  opacity:0;
}

#sidefinding_0 {
  max-width: 100%;
  display:none;
/*  position:absolute;
  bottom:0;
  right:0;*/
}

.deprecated {
  text-decoration: line-through;
}

#lr {
  position: fixed;
  bottom: 10;
  right: 10;
/*  width: 100%;
  height: 25px;
  padding-left: 10px;
  position: absolute;
  bottom: 0;
  right: 0;*/
}


hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.toggle_example {
  display: none;
  max-width: 100%;
  width: 100%;
}

pre {
  padding:0px;border:none;margin:0px;margin-bottom:0px;
}

.strike {
    display: block;
    text-align: left;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: gray;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}


@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 12px;}
}
h5{
    font-size: 0.88em;
}
h4{
    font-size: 1.2em;
}