html {
  height:100%;
  overflow: hidden;
}
/* TYPOGRAPHY */
body{
  /*  font-family: 'Dosis', sans-serif; */
  font-family: "Space Mono",monospace,"HelveticaNeue",Helvetica,Arial,sans-serif;
  overflow-x:hidden;
  height:100%;
  padding:10px;
}
#currently {
  text-align: right;
}
.noneList {
  list-style-type:none;
  /*display:inline;*/
}
.projectCategory {
  padding-left:10px;
}
#projectCategories {
  padding:10px;
}
#projectCategories h4 {
  text-align: left;
}
.in_progress {
  opacity: 0.3;
}
.deprecated {
  text-decoration: line-through;
}

@media(min-width:800px) {
  .project {
    width:70%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
  }
}

.shallow {
  padding-left:10px;
}

.static {
  position:absolute;
  background: auto;
}

.static:hover {
  opacity:0;
}